src
Documents
Downloads
Desktop
Dropbox
Library
Movies
Music
Pictures
Public
.DS_Store
.dropbox
.rbenv
.bash_history
.cache
.campfire.yml
.config
.gem
.mysql_history
.ssh/known_hosts
.ssh/id_rsa
.vim
.viminfo
.rubies
