src
Documents
Downloads
Desktop
Dropbox
Library
Movies
Music
Pictures
Public
bin
pkg
tmp
.DS_Store
.customers.rb
.dropbox
.bash_history
.cache
.campfire.yml
.config
.cargo/
.docker/
.gem
.local/
.ssh/known_hosts
.ssh/id_rsa
.ssh/old_rsa
.vagrant.d/
.vim
.viminfo
.rubies
.bash_sessions/
.bundle/cache/
.Trash/
go/
.faktory/
.tmp/
.npm/
