src
Documents
Downloads
Desktop
Dropbox
Library
Movies
Music
Pictures
Public
bin
pkg
tmp
.DS_Store
.customers.rb
.dropbox
.bash_history
.cache
.campfire.yml
.config
.gem
.ssh/known_hosts
.ssh/id_rsa
.ssh/old_rsa
.vim
.viminfo
.rubies
.bash_sessions/
.bundle/cache/
.Trash/
go/
.faktory/
