#
# This template is intended to work with MySQL 5.5 and newer
#

[client]

port                           = 3306
socket                         = /tmp/mysql.sock


[mysqld_safe]

open_files_limit               = 8192                                # You possibly have to adapt your O/S settings as well
user                           = mysql
log-error                      = error.log


[mysqld]

# Connection and Thread variables

port                           = 3306
socket                         = /tmp/mysql.sock
bind-address                   = 127.0.0.1

max_allowed_packet             = 16M
default_storage_engine         = InnoDB                              # Defaults since 5.5

character_set_server           = utf8                                # If you prefer utf8
collation_server               = utf8_general_ci


max_connections                = 151                                 # Values < 1000 are typically good
max_user_connections           = 50                                  # Limit one specific user/application
thread_cache_size              = 151                                 # Up to max_connections makes sense


# Query Cache

query_cache_type               = 1                                   # Set to 0 to avoid global QC Mutex
query_cache_size               = 64M                                 # Avoid too big (> 128M) QC because of QC clean-up lock!


# Session variables

sort_buffer_size               = 2M                                  # Could be too big for many small sorts
tmp_table_size                 = 32M                                 # Make sure your temporary results do NOT contain BLOB/TEXT attributes

read_buffer_size               = 128k                                # Resist to change this parameter if you do not know what you are doing
read_rnd_buffer_size           = 256k                                # Resist to change this parameter if you do not know what you are doing
join_buffer_size               = 128k                                # Resist to change this parameter if you do not know what you are doing


# Other buffers and caches

table_definition_cache         = 200                                 # As big as many tables you have
table_open_cache               = 400                                 # connections x tables/connection (~2)


# MySQL error log

log_error                      = error.log
log_warnings                   = 2


# Slow Query Log

slow_query_log_file            = slow.log
slow_query_log                 = 1
log_queries_not_using_indexes  = 1
long_query_time                = 0.5
min_examined_row_limit         = 100


# General Query Log

general_log_file               = general.log
general_log                    = 0


# Security variables

sql_mode                       = TRADITIONAL,ONLY_FULL_GROUP_BY,NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES   # Be careful changing this afterwards
# skip_name_resolve              = 0                                   # Set to 1 if you do not trust your DNS or experience problems


# MyISAM variables

key_buffer_size                = 8M                                  # Set to 25 - 33 % of RAM if you still use MyISAM
myisam_recover_options         = BACKUP,FORCE


# MEMORY variables

max_heap_table_size            = 64M                                 # Should be greater or equal to tmp_table_size


# InnoDB variables

innodb_buffer_pool_size        = 128M                                # Go up to 80% of your available RAM
innodb_file_per_table          = 1                                   # Is the recommended way nowadays

innodb_flush_log_at_trx_commit = 2                                   # 1 for durability, 0 or 2 for performance
innodb_log_buffer_size         = 8M                                  # Bigger if innodb_flush_log_at_trx_commit                                    = 0
innodb_log_file_size           = 256M                                # Bigger means more write throughput but longer recovery time

[mysql]

no_auto_rehash
max_allowed_packet             = 16M
default_character_set          = utf8                                # Possibly this setting is correct for most recent Linux systems

[mysqldump]

max_allowed_packet             = 16M
